.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.raiting {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-sizing: border-box;
  text-align: center;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}
