.container {
  display: flex;
  gap: 1rem;
}

.namesRestaurants {
  background-color: rgb(125, 81, 114);
  box-sizing: border-box;
  border: none;
  padding: 15px;
  color: rgb(207, 198, 198);
  font-size: 20px;
  border-radius: 10px;

  &:hover {
    background-color: rgb(116, 116, 224);
    cursor: pointer;
  }
}
